.tooltip{
    display: none;
    opacity: 1;
    position: absolute;
    width: 200px;
    padding: 2px;
    font: 11px sans-serif;
    text-align: center;
    background: white;
    color: black;
    border: 0;
    border-radius: 10px;
}

.tooltip-content .name {
    font-weight: bold;
}

.svg.location{
    background-image: url(../Images/map.jpg);   
}

.svg.combine{
    background-image: url(../Images/allcombine1.jpg); 
}

svg.preferred{
    background-image: url(../Images/preferred.jpg); 
}