{% extends "layout.html" %}
{% block content %}

<div class="row">
  <!-- Left Session -->
  <div class="col-lg-6">
        <div class="box">
        <br>
        <h4 class="subtitle">Chart C</h4>
        <br>
        <br>
        <img src="../static/images/button.jpg" alt="button" width="500" height="300"></img>
        <br>
        <br>
        <p id ="text">"1. A cryptocurrency (or crypto currency) is a digital asset designed to"</p>
        <p id ="text">"2. A cryptocurrency (or crypto currency) is a digital asset designed to"</p>
        <p id ="text">"3. A cryptocurrency (or crypto currency) is a digital asset designed to"</p>
        <p id ="text">"4. A cryptocurrency (or crypto currency) is a digital asset designed to"</p>
        </div>
 </div>
  <!-- Right Session -->
  <div class="col-lg-6">
        <div class="box">
          <br>
          <h5 class="subtitle">Chart D</h5>
          <br>
          <br>
          <img src="../static/images/button.jpg" alt="button" width="500" height="300"></img>
          <br>
          <br>
          <p id ="text">"1. A cryptocurrency (or crypto currency) is a digital asset designed to"</p>
          <p id ="text">"2. A cryptocurrency (or crypto currency) is a digital asset designed to"</p>
          <p id ="text">"3. A cryptocurrency (or crypto currency) is a digital asset designed to"</p>
          <p id ="text">"4. A cryptocurrency (or crypto currency) is a digital asset designed to"</p>
      </div>
  </div>

</div>

{% endblock %}