<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cryptocurrency</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>    
  <!--CSS Link-->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- AJAX jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="header">
        <h1>Cryptocurrency Data</h1>
    </div>
    <!-- Navigation -->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <!----<a class="navbar-brand" style="background-color: #0BADA6;" href="Landing.html">Latitude</a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="Summary.html">Summary</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Crypto
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="Trend.html">Overall Trends</a>
                  <a class="dropdown-item" href="Comparison.html">Crypto Comparisons</a>
                  <a class="dropdown-item" href="Influences.html">Influences</a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="Data.html">Data</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="members.html">Team Members</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="container">
      <br>
      <p>The following table includes all of the data used for plotting charts during this project.</p>
        <div class="table-responsive"> 
         <br />
         <div align="center">
          <button type="button" name="load_data" id="load_data" class="btn btn-info">Load Data</button>
         </div>
         <br />
         <table style="width: 100%"; id="crypto_table">
         </table>
        </div>
    </div>
     <!-- Content style="overflow-x:100%;" -->
    
    <!---<div class="row">
        <div class="col-md-9">
            <br />  
            <div class = "box">
                <button type = "button" name="load_data" id="load_data" class ="btn btn-info">Load Data</button>
            </div>
            <br />  
            <div id="crypto_data">
            </div>  
                <h2 class="table_title">Data</h2>
                <hr>
                <p>The following table includes all of the data used for plotting charts during this project.</p>
                <table class="table">
                    <thead><tr><th title="Field #1">Name</th>
                    <th title="Field #2">Symbol</th>
                    <th title="Field #3">Date</th>
                    <th title="Field #4">Year</th>
                    <th title="Field #5">Open</th>
                    <th title="Field #6">High</th>
                    <th title="Field #7">Low</th>
                    <th title="Field #8">Close</th>
                    <th title="Field #9">Market</th>
                    <th title="Field #10">Close_ratio</th>
                    <th title="Field #11">Spread</th>
                    </tr></thead>
                    <tbody></tbody>
                </table> 
            </div>
        </div>
        <div class="col-md-3">
            <div class="select">
                <h2>Select Cryptocurrency Name:</h2>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
        </div>
    </div>-->
    
</body>
<!-- Footer  -->
<footer>
    <div class="footer">Copyright &copy; Project 2 Cryptocurrency 2019</div>
</footer>

<!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for(filename='app.js') }}"></script>
<!-- API key -->
<script type="text/javascript" src="../static/js/config.js"></script>
<!-- Our JS -->
<script type="text/javascript" src="logic.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
</html>

<script>
  $(document).ready(function(){
    $('#load_data').click(function(){
    $.ajax({
      url:"../crypto.csv",
      dataType:"text",
      success:function(data)
      {
      var crypto_data = data.split(/\r?\n|\r/);
      var table_data = '<table class="table table-bordered table-striped">';
      for(var count = 0; count<crypto_data.length; count++)
      {
        var cell_data = crypto_data[count].split(",");
        table_data += '<tr>';
        for(var cell_count=0; cell_count<cell_data.length; cell_count++)
        {
        if(count === 0)
        {
          table_data += '<th>'+cell_data[cell_count]+'</th>';
        }
        else
        {
          table_data += '<td>'+cell_data[cell_count]+'</td>';
        }
        }
        table_data += '</tr>';
      }
      table_data += '</table>';
      $('#crypto_table').html(table_data);
      }
    });
    });
    
  });
</script>
    