{% extends "layout.html" %}
{% block content %}

 <!-- container (Summary Section) -->
    <br>
    <br>
    <div class = "row">
        <div class = "col-md-12">
            <p style = "font-size: 22px;" id="visible1">summary</p> 

            <p id="invisible1" class="hide"> Cryptocurrency is a virtual or digital money built with 
                cryptographic protocols which takes the form of tokens or "coins". 
                It makes transactions secure and difficult to fake.</p>
    
    <hr>
    <div class = "row">
        <div class = "col-md-4">
            <p class= "subtitle" class = "text-center">
                 <strong >Bitcoin</strong>
            </p>
            <br>
            <a>
                <img src="../static/images/bitcoin.jpg" class="img-circle" alt="bitcoin" width="150" height="150"></img>
            </a>
        </div>
        <div class = "col-md-4">
            <br>
            <br>
            <p >The first and still most important cryptocurrency. 
                After ten years in existence, the highest close price has increased to 19497.4 dollar.
            </p>
        </div>
        <div class = "col-md-4">
            <p class= "subtitle" class = "text-center">
                <strong>Inventor</strong>
            </p>
            <br>
            <a >
                <img src="../static/images/satoshi.png" class="img-circle" alt="satoshi" width="150" height="150"></img>
            </a>
        </div>
     
    </div>


<style>
    .hide{display:none;}
    .show{display:block;}
</style>
<script>
        $(function(){
            $("#visible1").click(function(){
                $("#invisible1").toggleClass("show");
            });
        });
</script>
<script>
        $(function(){
            $("#visible2").click(function(){
                $("#invisible2").toggleClass("show");
            });
        });
</script>
<script>
        $(function(){
            $("#visible3").click(function(){
                $("#invisible3").toggleClass("show");
            });
        });
</script>

{% endblock %}