{% extends "layout.html" %}
{% block content %}

 <!-- container (Summary Section) -->
    <br>
    <br>
<div class="container">
    <div class = "row">
        <div class = "col-md-12">

            <p style = "font-size: 22px;" id="visible1">Project Snapshot</p> 
            
        <p id="invisible1" class="hide" style="font-size: 16px" align= "justify"> Our study consists of a) Analyzing the price and volume trends of top 10 crypto-currencies over 2017 and 2018 through Kaggle dataset.
             b) Understanding the Twitter Influencers' tweets and their impact on driving crypto price trends through Twitter API. 
                    Bitcoin started from a price of  USD 68 in 2013 to a price of USD 19497 in Dec 2017. And therefore we wanted to
                     dive deeper into the largest price spike in Crypto currencies till date in 2017. Ethereum and ICOs were introduced in 2016 as 
                      more and more crypto white papers became mainstream.  Crypto Currency gained wider acceptance in 2017 where Japan 
                      made Bitcoin a legal payment mode; there was a surge in online stores accepting Bitcoin; Norway's largest online bank
                       integrated bitcoin accounts; which led to a steep rise in Crypto currency prices in 2017.
                    In Jan 2017, Bitcoin broke USD 1000 mark in price;  Bitcoin Cash was forked from BTC in Jul 2017  as seen in the trend charts. 
                    Crypto prices observe a downward trend from 2018 onwards; Facebook, twitter, google prohibit people from crypto currency advertising. The rise and fall trend in price is also observed across all currencies except Ethereum; which increases in price briefly when Bitcoin falls and then remains stagnant.
                    Trading volumes are seen to increase at higher prices which indicates more people making the move.
                </p>
        </div>
        
    </div>
    <hr>
    <div class = "row">
        <div class = "col-md-4">
            <p class= "subtitle" class = "center">
                 <strong >Crypto Trends</strong>
            </p>
            <br>
            <a href="/trend">
                <img src="../static/images/multiline.png"  alt="Crypto Trend" width="400" height="250"></img>
            </a>

            <br>
                <br>
                <br>
                <p class = "center" style = "text-align:center">Price and Volume Trends of Crypto Currencies.
                </p>
                <br>
            <br>

            <br>
        </div>

     
        <div class = "col-md-4">
                <p class= "subtitle" class = "center">
                    <strong>Influencers Vs. Price</strong>
                </p>
                <br>
                <a href="/influencers">
                    <img src="../static/images/influencers.png" class = "center" alt="Influencers" width="400" height="250"></img>
                </a>
                <br>
                <br>
                <br>
                <p class = "center" style = "text-align:center"> Top Twitter Influencers' Fun Facts.
                </p>
                
        </div>
        <div class = "col-md-4">
            <p class= "subtitle" class = "center">
                <strong >Influencers</strong>
            </p>
            <br>
            <a href="/twitter_viz" >
                <img src="../static/images/influencer_tweeting.png" alt="Influencers Vs. Price" width="400" height="250"></img>
            </a>
            <br>
            <br>
            <br>
            <p class = "center" style = "text-align:center">Top Twitter Influencers' Tweet Fequencies.
            </p>
        </div>
       
        
       

    </div>
</div>

<style>
    .hide{display:none;}
    .show{display:block;}
</style>
<script>
        $(function(){
            $("#visible1").click(function(){
                $("#invisible1").toggleClass("show");
            });
        });
</script>
<script>
        $(function(){
            $("#visible2").click(function(){
                $("#invisible2").toggleClass("show");
            });
        });
</script>
<script>
        $(function(){
            $("#visible3").click(function(){
                $("#invisible3").toggleClass("show");
            });
        });
</script>

{% endblock %}