{% extends "layout.html" %}
{% block content %}
<div class="row">
  <!-- Left Session -->
  <div class="col-lg-12">
    <div class="box">
      <h4 class="subtitle">Top 10 Twitter influencers</h4>
      <button id='preferred_coin'>Preferred Coin</button>
      <button id='location' class='location'>Location</button>
      <button id='combine'>Combine</button>
      <div class="chart">
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/influencers.js') }}"></script>
{% endblock %}