<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cryptocurrency</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <!--CSS Link-->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <!-- Header -->
    <div class="header">
        <h1>Cryptocurrency Analysis</h1>
    </div>
    <!-- Navigation -->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!----<a class="navbar-brand" style="background-color: #0BADA6;" href="Landing.html">Latitude</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Summary.html">Summary</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Crypto
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('trend')}}">Overall Trends</a>
                    <a class="dropdown-item" href="{{url_for('comparison')}}">Crypto Comparisons</a>
                    <a class="dropdown-item" href="{{url_for('influencers')}}">Influences</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('data')}}">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('members')}}">Team Members</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- Footer  -->
    <footer>
        <div class="footer">Copyright &copy; Project 2 Cryptocurrency 2019</div>
    </footer>
</body>


<!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- API key -->
<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
<!-- Our JS -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>