{% extends "layout.html" %}
{% block content %}
<div class = "row">
    <div class = "col-md-3">
        <br>
        <br>
        <p class= "name" class = "text-center">
            <strong>Matt</strong>
        </p>
        <br>
        <a hre="">
            <img src="../static/images/button.jpg" class="img-circle" alt="button" width="200" height="200"></img>
        </a>
    </div>
    <div class = "col-md-3">
        <br>
        <br>
        <p class= "name" class = "text-center">
            <strong>Sonja</strong>
        </p>
        <br>
        <a hre="">
            <img src="../static/images/button.jpg" class="img-circle" alt="button" width="200" height="200"></img>
        </a>
    </div>
    <div class = "col-md-3">
        <br>
        <br>
        <p class= "name" class = "text-center">
            <strong>Nidhi</strong>
        </p>
        <br>
        <a hre="">
            <img src="../static/images/button.jpg" class="img-circle" alt="button" width="200" height="200"></img>
        </a>
    </div>
    <div class = "col-md-3">
        <br>
        <br>
        <p class= "name" class = "text-center">
            <strong>Qiqiong</strong>
        </p>
        <br>
        <a hre="">
            <img src="../static/images/button.jpg" class="img-circle" alt="button" width="200" height="200"></img>
        </a>
    </div>
</div>
{% endblock %}