{% extends "layout.html" %}
{% block content %}
<div class="team-section">
    <h1>Meet Our Project Team</h1>
    <br>
    <hr size="50" width=100% color="white" >
    <br>
    <br>
    <br>
    <div class ="row">
        <div class = "col-md-3">
          <img src="../static/images/nidhi.png" class="img-circle_pic" alt="profile picture" width="200" height="200"></img>
          <p class="name">Nidhi</p>
        </div>
        <div class = "col-md-3">
            <img src="../static/images/sonja.png" class="img-circle_pic" alt="profile picture" width="200" height="200"></img>
            <p class="name">Sonja</p>
        </div>
        <div class = "col-md-3">
            <img src="../static/images/matt.png" class="img-circle_pic" alt="profile picture" width="200" height="200"></img>
            <p class="name">Matt</p>
        </div>
        <div class = "col-md-3">
            <img src="../static/images/qiqiong.png" class="img-circle_pic" alt="profile picture" width="200" height="200"></img>
            <p class="name">Qiqiong</p>
        </div>
    </div>
</div>

{% endblock %}