{% extends "layout.html" %}
{% block content %}
<br>
<h4>Price vs. Time</h4>
<br>
    <div class="price">
      <!-- We append our chart here. -->
   
 
</div>
<br>
<h4>Volume vs. Price</h4>
<br>
  <div class="volume">
      <!-- We append our chart here. -->
    
 </div>
 <br>
 <br>

<script>
    var lineData = JSON.parse('{{ line_data|tojson|safe }}');

    var bubbleData = JSON.parse('{{ bubble_data|tojson|safe }}');

</script>
<script src="{{ url_for('static', filename='js/trend.js') }}"></script>
{% endblock %}