{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="price">
      <!-- We append our chart here. -->
    </div>
 </div>
  <div class="col-lg-12">
    <div class="volume">
      <!-- We append our chart here. -->
    </div>
 </div>
</div>
<script>
    var lineData = JSON.parse('{{ line_data|tojson|safe }}');

    var bubbleData = JSON.parse('{{ bubble_data|tojson|safe }}');

</script>
<script src="{{ url_for('static', filename='js/trend.js') }}"></script>
{% endblock %}